div.footer-top.container-wrapper
    div.container
        section.footer-block.customer-service
            h3 Customer Service
            p MON to FRI, 8AM to 8PM / SAT to SUN, 9AM to 6PM
            dl.customer-service-details
                dt.icon.icon-tel Contact Numnber
                dd.customer-service-tel 03-2720 0000
                dt.icon.icon-email Email
                dd.customer-service-email Buyer Support: 
                    a(href="mailto:hello@11street.my") hello@11street.my
                dd.customer-service-email Seller Support: 
                    a(href="mailto:seller@11street.my") seller@11street.my
        
        section.footer-block.footer-nav
            div.footer-nav-box
                h3 Buyer
                ul.footer-nav-links
                    li
                        a(href="#") How to Shop
                    li
                        a(href="#") Privay Policy
                    li
                        a(href="#") FAQ
                        
            div.footer-nav-box
                h3 Seller
                ul.footer-nav-links
                    li
                        a(href="#") Be a Seller
                    li
                        a(href="#") Start Selling
                    li
                        a(href="#") Seller Office
                    li
                        a(href="#") Seller Zone
                    li
                        a(href="#") FAQ
                        
            div.footer-nav-box
                h3 11street
                ul.footer-nav-links
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Notification
                    li
                        a(href="#") Terms & Conditions
                    li
                        a(href="#") Site Map
                    li
                        a(href="#") 11street Blog
                    li
                        a(href="#") Careers
            
        section.footer-block.footer-utility
            div.footer-app-download
                h3 Mobile App Download
                ul.app-list
                    li
                        a.icon-app.icon-app-store(href="#") Download 11street IOS app on the App Store
                    li
                        a.icon-app.icon-google-play(href="#") Download 11street Android app on the Google play
                        
            div.footer-social-media
                h3 Follow Us
                    ul.social-media-list
                        li
                            a.icon-social-media.icon-facebook(href="#") 11street facebook
                        li
                            a.icon-social-media.icon-twitter(href="#") 11street twitter
                        li
                            a.icon-social-media.icon-instagram(href="#") 11street instagram
                            
    div.footer-middle.container-wrapper
        div.container
            section.footer-block.footer-payment-methods
                h3 Payment Methods
                ul.payment-methods
                    li.footer-logo.logo-ipay88
                        span iPay88 Payment Gateway
                    li.footer-logo.logo-visa
                        span Visa Credit/Debit Cards
                    li.footer-logo.logo-mastercard
                        span MasterCard
                    li.footer-logo.logo-celcom-aircash
                        span Celcom AirCash
                    li.footer-logo.logo-cimbbank
                        span CIMBBank bank transfer
                    li.footer-logo.logo-maybank2u
                        span maybank2u
                    li.footer-logo.logo-rhbnow
                        span rhbnow
                    li.footer-logo.logo-ambank
                        span Ambank Online Banking
                    li.footer-logo.logo-cimbclick
                        span CIMB Clicks
                    li.footer-logo.logo-hongleongconnect
                        span Hong Leong Connect                            
                        
            section.footer-block.footer-intro
                h3 About 11street
                p 11street is Malaysia’s latest one stop online shopping mall that connects customers to variety of quality products at competitive prices, in a trustworthy and secure environment for buyers and sellers. Uncover endless selections and shocking deals from Women Fashion, Men Fashion, Health & Beauty, Mobile IT & Camera, Home Electronics, Home & Living, Sports & Automotive, Baby, Kids and Toys, Grocery and E-voucher & More.
                p 11street is an open marketplace operated by Celcom Planet Sdn. Bhd. – a joint venture between two established names Celcom Axiata Bhd. and SK Planet Ltd. Celcom Axiata is Malaysia’s premier and most experienced mobile telecommunications group and SK Planet owns Korea’s best e-commerce site, 11st.co.kr, a reliable and revolutionary e-commerce platform.
                
    div.footer-bottom.container-wrapper
        div.container
            ul.footer-block.footer-logo-list
                li.footer-logo.logo-celcom-planet Celcom Planet
                li.footer-logo.logo-sk-planet SK Planet
            div.footer-block.footer-disclaimer
                p
                    em 11street.my is owned and operated under Celcom Planet Sdn. Bhd. (1113867-K)
                p Copyright © Celcom Planet Sdn. Bhd., a joint venture between Celcom Axiata Berhad and SK Planet ltd. All Right Reserved.
            div.footer-block.footer-status
                i.footer-logo.logo-msc PCI DSS
