//Coupon SAMPLE -- START
h1 Bonus Coupon  ( Copy Below Code )
code.language-html(data-lang="html") div.cm-coupon.fe-coupon(data-type="bonus", data-rm="", data-value="5", data-percent="%", data-condition="Max. Discount RM30")


div.cm-coupon.fe-coupon(data-type="bonus", data-rm="", data-value="5", data-percent="%", data-condition="Max. Discount RM30")

br
br

h1 Store Cart Coupon  ( Copy Below Code )
code.language-html(data-lang="html") div.cm-coupon.fe-coupon(data-type="store", data-rm="RM", data-value="150", data-percent="", data-condition="Min. Purchase RM100")

div.cm-coupon.fe-coupon(data-type="store", data-rm="RM", data-value="150", data-percent="", data-condition="Min. Purchase RM100")

br
br

h1 Shipping Fee Coupon  ( Copy Below Code )
code.language-html(data-lang="html") div.cm-coupon.fe-coupon(data-type="shipping", data-rm="RM", data-value="7", data-percent="", data-condition="Min. Purchase RM5")

div.cm-coupon.fe-coupon(data-type="shipping", data-rm="RM", data-value="7", data-percent="", data-condition="Min. Purchase RM5")

br
br

h1 Shopping Cart Coupon  ( Copy Below Code  )
code.language-html(data-lang="html") div.cm-coupon.fe-coupon(data-type="shopping", data-rm="", data-value="5", data-percent="%", data-condition="Max. Discount RM30")

div.cm-coupon.fe-coupon(data-type="shopping", data-rm="", data-value="5", data-percent="%", data-condition="Max. Discount RM30")
//Coupon SAMPLE -- END