div.fe-tnc-section
	div.fe-tnc
		div.modal(data-title="Terms & Conditions Apply")
			button *Terms &amp; Conditions Apply.
			div.modal-content
				ul
					li Tnc Details 
						a(href="https://www.11street.my/loyalty/AuthCouponGiftDtls/getCouponDtls.do?CHOICEMENU=B01&isSSL=Y" target=(device === "desktop" || device == "desktop-bo") ? "_blank" : undefined) here.