header
    h1
        a.h_btn.home(href="#") Go home
    a.h_btn.category(href="#") Go category
    div.hdr_search
        form
            input(type="search", value="")
            a.btn-top-search
                span search
    div.side_link
        a.h_btn.cart(href="#") Go cart
        a.h_btn.my(href="#") Go mypage
