mixin tab(tablist,tabname)
	div.listGallery(id= tablist)
		h2.headingTitle #{tabname}
		br
		br  
		| Display Corner Here
		br
		br
		|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum odio sit, tempore excepturi quos eum vitae odit voluptatem aliquam rem dolore, optio iusto quas consequatur reprehenderit eveniet nihil veniam accusantium!
		br
		br

+tab("10", "tab 1")
+tab("20", "tab 2")
+tab("30", "tab 3")
+tab("40", "tab 4")
+tab("50", "tab 5")
+tab("60", "tab 6")
+tab("70", "tab 7")
+tab("80", "tab 8")
+tab("90", "tab 9")
+tab("100", "tab 10")