mixin product(img, name, discount, rrp, price, classes)
    li.cm-prod-item
        a(href="#")
            div.cm-prod-wrapper
                div.cm-prod-image.cm-lazyLoading
                    img(data-lazy="//promotion-assets.11street.my/assets/components/global/1.0.0/img/" + img, src="//promotion-assets.11street.my/assets/components/global/1.0.0/img/blank.png")
                    
+product("prod1.jpg")
+product("prod2.jpg")
+product("prod3.jpg")
+product("prod4.jpg")
+product("prod5.jpg")
+product("prod6.jpg")
+product("prod1.jpg")
+product("prod2.jpg")
+product("prod3.jpg")
+product("prod4.jpg")
+product("prod5.jpg")
+product("prod6.jpg")
