.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-fashion-desktop-phase-04.png', 'deco-fashion-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Fashion
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-hb-desktop-phase-04.png', 'deco-hb-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Health & Beauty
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-sport-desktop-phase-04.png', 'deco-sport-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Automotive & Sports
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-evoucher-desktop-phase-04.png', 'deco-evoucher-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% E-voucher
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-hl-desktop-phase-04.png', 'deco-hl-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Home & Living
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-he-desktop-phase-04.png', 'deco-he-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Home & Electronics
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-mt-desktop-phase-04.png', 'deco-mt-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Mobile & Tablet
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-grocery-desktop-phase-04.png', 'deco-grocery-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Grocery
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
.ct-card
    .category-type
        .deco
            a(href='#/')
                +image('', 'deco-bk-desktop-phase-04.png', 'deco-bk-mobile-phase-04.png', '')
    //- .coupon-card
    //-     .card.bg.red.inactive
    //-         .text Special Coupon 
    //-         .coupon
    //-             .value 30%
    //-         a.card-btn(href='#/') Download
    //-     .card.red
    //-         .text 10% Baby & Kids
    //-         .coupon
    //-             .value 10%
    //-         a.card-btn(href='#/') Download
