div(data-tab)
    div.cm-tab-panel
        div.cm-tab-title(data-target="#tab1") Tab 1
        div.cm-tab-title(data-target="#tab2") Tab 2
        div.cm-tab-title(data-target="#tab3") Tab 3
        div.cm-tab-title(data-target="#tab4") Tab 4
    div.cm-tab-content-panel
        div#tab1.cm-tab-content content 1
        div#tab2.cm-tab-content content 2
        div#tab3.cm-tab-content content 3
        div#tab4.cm-tab-content content 4
        
div(data-tab)
    div.cm-tab-panel
        div.cm-tab-title(data-target="#tab5") Tab 5
        div.cm-tab-title(data-target="#tab6") Tab 6
        div.cm-tab-title(data-target="#tab7") Tab 7
        div.cm-tab-title(data-target="#tab8") Tab 8
    div.cm-tab-content-panel
        div#tab5.cm-tab-content content 5
        div#tab6.cm-tab-content content 6
        div#tab7.cm-tab-content content 7
        div#tab8.cm-tab-content content 8
        
    
