footer
    ul.ft_links
        li
            a(href="#") LOG OUT
        li
            a(href="#") PC VERSION
        li
            a(href="#") CUSTOMER SERVICE
    ul.ft_links02
        li
            a(href="#") USER AGREEMENT
        li
            a(href="#") PRIVACY POLICY
    p.copy
        | Copyright © 2015 Celcom Planet Sdn. Bhd.,
        br
        | a joint venture between Celcom Axiata Berhad and 
        span.t01 SK Planet ltd. 
            span.t02 All Rights Reserved.
